POSTGRES_DB=vacina_kids
POSTGRES_USER=vacina_user
POSTGRES_PASSWORD=senha_local
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=chave_segura
JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=7
CORS_ALLOWED_ORIGINS=http://localhost:4200
