<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="crianca" routerLink="/tabs/crianca" routerDirection="root">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Crianças</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acompanhamento" routerLink="/tabs/acompanhamento" routerDirection="root">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Acompanhar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico" routerLink="/tabs/historico" routerDirection="root">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="campanhas" routerLink="/tabs/campanhas" routerDirection="root">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Campanhas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
