<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <div class="header-text">
      <h2>Junte-se a nós</h2>
      <p>Cadastre-se para gerenciar o calendário de vacinas das suas crianças.</p>
    </div>

    <ion-card>
      <ion-card-content>
        <ion-item lines="full">
          <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
          <ion-input 
            type="text" 
            [(ngModel)]="userData.name" 
            placeholder="Nome completo"
            required>
          </ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
          <ion-input 
            type="email" 
            [(ngModel)]="userData.email" 
            placeholder="E-mail"
            required>
          </ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-icon name="lock-closed-outline" slot="start" color="primary"></ion-icon>
          <ion-input 
            type="password" 
            [(ngModel)]="userData.password" 
            placeholder="Senha (Maiúscula, Minúscula, Número e Especial ex: @)"
            required>
          </ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
          <ion-input 
            type="password" 
            [(ngModel)]="userData.confirmPassword" 
            placeholder="Confirme a senha"
            required>
          </ion-input>
        </ion-item>

        <div class="error-message" *ngIf="errorMessage">
          <ion-text color="danger">{{ errorMessage }}</ion-text>
        </div>

        <ion-button expand="block" class="ion-margin-top" (click)="register()" [disabled]="isLoading">
          <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
          <span *ngIf="!isLoading">Cadastrar</span>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
